@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=block');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=block');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=block');

* {
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: 'Roboto Mono', monospace;
  user-select: none;
}

.material-symbols-outlined {
  font-size: 28px;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  background: black;
  display: flex;
}

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}

/* Menu */

#menu-wrapper {
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  overflow: hidden;
  --menu-transition-duration: .3s;
  transition:
    width var(--menu-transition-duration) ease-out,
    opacity var(--menu-transition-duration) ease-out;
}

#menu-wrapper.menu-open {
  width: 180px;
  opacity: 1;
}

#menu-title {
  align-items: center;
  font-size: 1.5rem;
  line-height: 28px;
}

#menu, #menu-title {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: 'Baloo 2';
}

#menu {
  flex-grow: 1;
}

#github {
  padding: .75rem;
  display: flex;
  justify-content: center;
}

/* Main */

#main {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

/* Background */

#background {
  --transition-duration: 2000ms;
  --brightness: 0.8;
}

.background {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: brightness(var(--brightness));
  opacity: 0;
}

.background.active {
  z-index: 0;
  transition: opacity var(--transition-duration) cubic-bezier(.28,.83,.67,1);
}

.background.opaque {
  opacity: 1;
}

/* Menu Button */

#menu-button {
  position: absolute;
  padding: 1rem;
  cursor: pointer;
}

/* Clock */

#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 7rem;
}

#date {
  font-size: 3rem;
}

/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding: .5rem 1rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

#attribution-location-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#attribution-location-position {
  display: flex;
  width: 1.5rem;
  text-decoration: none;
}

#attribution-location-position .material-symbols-outlined {
  font-size: 2rem;
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 20;
}

/* Controls */

#controls {
  display: flex;
}

#refresh-button {
  display: flex;
  cursor: pointer;
}

#controls .material-symbols-outlined {
  font-size: 2rem;
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24;
}
