@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=block');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=block');

* {
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: 'Roboto Mono', monospace;
  user-select: none;
}

a {
  color: inherit;
}

body {
  margin: 0;
  background: black;
  display: flex;
}

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Main */

#main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Background */

#background {
  z-index: -1;
  object-fit: cover;
  opacity: 0;
}

/* Clock */

#clock {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 7rem;
}

#date {
  font-size: 3rem;
}

/* Attribution */

#attribution {
  padding: 1rem;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
